doctype html 
htlm 
    head 
        style 
            include ../style.css
    body 
        block content 

        div 
            br
            p หากติดปัญหาหรือมีข้อสงสัยคิดต่อมาได้ที่ 091-xxx-xxxx