extends layout 

block content 
    p สวัสดี คุณ #{data.firstName} #{data.lastName}
    p คุณได้ทำการลงทะเบียนเสร็จสมบูรณ์ ข้อมูลการเข้าใช้งานตามรายละเอียด ดังนี้
    p email : #{data.email}
    p password : #{data.password}